@{
    ViewBag.Title = "Home Page";
}



<!-- Background image -->
<div class="p-5 text-center bg-image"
     style="
      background-image: url('https://i.postimg.cc/LXhhTQSG/rsz-1original.jpg');
      height: 400px;
      margin-top: 58px;
    ">
    <div class="mask" >
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Digital school groups</h1>
                <h4 class="mb-3">Create an account so you can join our groups or create your own </h4>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->

